@model WebApplication3.Data.Entities.Product

@{
	double? avgRating = Model.Rates.Where(r => (r.Rating ?? 0) > 0).Average(r => r.Rating);
}

<div class="col">

	<div class="card h-100" title="@(Model.Description)">
		<a asp-controller="Shop" asp-action="Product" asp-route-id="@(Model.Slug ?? Model.Id.ToString())" style="text-decoration: none; color: currentColor">
			<img src="@("/Storage/Item/" + (Model.ImagesCsv?.Split(',').FirstOrDefault() ?? "no-image.jpg"))" class="card-img-top product-img" alt="">
		</a>
		<div class="card-body">
			<div data-cart-product="@Model.Id" class="card-fab"><i class="bi bi-bag-plus"></i></div>
			<h5 class="card-title">@Model.Name</h5>
			<p class="card-text">@Model.Description</p>
		</div>
		<div class="card-footer">
			<strong>₴ @(Model.Price)</strong>, у наявності - @(Model.Stock)
			<i class="bi bi-star-fill" style="color: orange;"></i> 
			@if (avgRating != null)
			{
				<span>@(avgRating.Value.ToString("F1"))</span>
			}
			else
			{
				<span>@(avgRating)</span>
			}
		</div>
	</div>
</div>