@model WebApplication3.Models.Shop.ShopProductPageModel
@{
	ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="~/css/Product/product.css" asp-append-version="true" />

@if (Model.Product == null)
{
	<div class="text-center">
		<h1 class="display-4">Магазин - товар не знайдено</h1>
	</div>
	<div style="overflow-x: scroll; display: flex; width: 100%; margin: 20px; padding: 20px; justify-content: space-between; scrollbar-width: thin;">
		@foreach (var category in Model.Categories)
		{
			@Html.Partial("CategoryPreview", category)
		}
	</div>
}
else
{
	<div class="text-center">
		<h1 class="display-4">Магазин - товар "@(Model.Product.Name)"</h1>
	</div>
	<div style="overflow-x: scroll; display: flex; width: 100%; margin: 20px; padding: 20px; justify-content: space-between; scrollbar-width: thin;">
		@foreach (var category in Model.Categories)
		{
			@Html.Partial("CategoryPreview", category)
		}
	</div>
	<hr />

	<div class="row">
		<div class="col-4 product-images">
			@if (Model.Product.ImagesCsv == null)
			{
				<p>У даного товару немає фотографій</p>
			}
			else
			{
				foreach (string imgUrl in Model.Product.ImagesCsv.Split(',', StringSplitOptions.RemoveEmptyEntries))
				{
					<img src="@(" /Storage/Item/" + imgUrl)" alt="imgUrl" />
				}
			}
		</div>
		<div class="col-8">
			<h2>@(Model.Product.Name)</h2>
			<p>@(Model.Product.Description)</p>
			<strong>Ціна: ₴ @(Model.Product.Price)</strong>
			<p>Наявність на складі: @(Model.Product.Stock) шт.</p>
			<p>Категорія: <a asp-controller="Shop" asp-action="Category" asp-route-id="@(Model.Product.Category.Slug)" title="@(Model.Product.Category.Description)">@(Model.Product.Category.Name)</a></p>
			<div data-cart-product="@Model.Product.Id" class="btn btn-primary">
				<i class="bi bi-bag-plus"></i> Придбати
			</div>
			<hr />
			<div class="row">
				<div class="col">
					<span class="summary-rate">
						Загальна оцінка: @(!(Model.Product.Rates.Any()) ? "немає данних" : Model.Product.Rates.Average(r => r.Rating))
					</span>
					@if (Model.IsUserCanRate)
					{
						@if (Model.UserRate != null)
						{
							<i style="margin-bottom: 10px; display: block;">Ви залишили оцінку @Model.UserRate.Moment</i>
						}
						<div class="star-rate">
							<input type="radio" id="star-5" name="Rate" value="5">
							<label for="star-5"><i class="bi bi-star"></i></label>

							<input type="radio" id="star-4" name="Rate" value="4">
							<label for="star-4"><i class="bi bi-star"></i></label>

							<input type="radio" id="star-3" name="Rate" value="3">
							<label for="star-3"><i class="bi bi-star"></i></label>

							<input type="radio" id="star-2" name="Rate" value="2">
							<label for="star-2"><i class="bi bi-star"></i></label>

							<input type="radio" id="star-1" name="Rate" value="1">
							<label for="star-1"><i class="bi bi-star"></i></label>
						</div>

						<textarea id="rate-comment" class="form-control" placeholder="Ваш коментар..."></textarea>
						<div id="rate-feedback" class="invalid-feedback"></div>

						<button class="btn btn-outline-secondary" type="button" id="rate-button"
								data-rate-user="@Model.AuthUserId" data-rate-product="@Model.Product.Id">
							Зберегти коментар
						</button>
					}
					else
					{
						<i>Купіть товар, щоб мати можливість коментувати його!</i>
					}
				</div>
				<div class="col">
					<span class="rates-header">
						Коментарі:
					</span>
					<div class="rates-container">
						@foreach (var rate in Model.Product.Rates.OrderByDescending(r => r.Moment).ToList() ?? [])
						{
							if (rate.Comment is not null)
							{
								@Html.DisplayFor(r => rate)
							}
						}
					</div>
				</div>
			</div>
			<br />

		</div>
	</div>
	<br />
	<br />
	<br />
	<div class="similar-products-outer">
		<h3>Схожі товари:</h3>
		<div class="similar-products-inner">
			@foreach (var product in Model.Product.Category.Products)
			{
				if (product.Id != Model.Product.Id)
				{
					@Html.DisplayFor(m => product)
					;
				}
			}
		</div>
	</div>
}

