@model WebApplication3.Data.Entities.CartDetail

@{
	bool isActive = (Model.Cart.MomentCancel == null && Model.Cart.MomentBuy == null);
}

<link rel="stylesheet" href="~/css/Shop/cart-detail.css" asp-append-version="true" />


<div class="row cart-detail">
	<a asp-controller="Shop" asp-action="Product" asp-route-id="@(Model.Product.Slug ?? Model.Product.Id.ToString())" class="col-9">
		<div class="col-2">
			<img src="@(Model.Product.ImagesCsv?.Split(',').FirstOrDefault() ?? "no-image.jpg")" />
		</div>
		<div class="col-2 name" id="product-name">@Model.Product.Name</div>
		<div class="col-6 description">@Model.Product.Description</div>
		<div class="col-2">₴ @Model.Product.Price шт.</div>
	</a>
	<div class="col-lg-2 col-md-3 col-sm-4">
		@if (isActive)
		{
			<button class="btn btn-outline-danger" data-cart-detail-del="@Model.Id">x</button>
			<button class="btn btn-outline-warning" data-cart-detail-dec="@Model.Id">-</button>
		}
		<span class="editable-qnt" contenteditable="@(isActive ? "true" : "false")" data-cart-detail-qnt="@Model.Id">@Model.Quantity</span>
		@if (isActive)
		{
			<button class="btn btn-outline-success" data-cart-detail-inc="@Model.Id">+</button>
		}
	</div>
	<a asp-controller="Shop" asp-action="Product" asp-route-id="@(Model.Product.Slug ?? Model.Product.Id.ToString())" class="col-1">
		<div class="col-12">₴ @Model.Price</div>
	</a>
</div>
